$fa-font-path: "~font-awesome/fonts";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/**
 Reset
 */
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: $black;
}

footer {
  clear: both;
  min-height: 100px;
  background-color: $gray-light;
  clear: both;
}

a {
  color: $black;
  text-decoration: none;
}

a:visited {
  color: $black;
}

a:hover {
  color: $black;
}

.fa {
  margin-right: 3px;
}

/**
 Application
 */
.app-container {
  position: relative;
  width: 1176px;
  margin: 30px auto 0 auto;
  padding: 30px 30px 0 30px;
}

.app-background-helper {
  position: absolute;
  top: 0;
  height: 582px;
  width: 100%;
  background: $gray-light;
}

.app-content__title {
  font-size: 30px;
  margin: 0 0 30px 0;
}

.app-title {
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 120px 0;
}

.app-description {
  color: $gray-dark;
  font-size: 30px;
  max-width: 804px;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 120px 0;
}

.app-content {
  position: relative;
}

.app-content::after {
  content: '';
  display: block;
  clear: both;
}

/**
 Show
 */
.show {
  margin: 0 0 0 60px;
}

.show__image {
  float: left;
  height: 400px;
  width: 272px;
  margin: 0 30px 30px 0;
  background: url("/img/default-show-image.png");
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
}

.show__rating {
  padding: 30px 0 0 0;
  margin: 0 0 12px 0;
}

.show__title {
  font-size: 36px;
  line-height: 42px;
  margin: 0 0 18px 0;
}

.show__description {
  font-size: 16px;
  line-height: 24px;
}

.show__info {
  float: left;
  clear: left;
  width: 48%;
}

.show__staring  {
  float: right;
  width: 48%;
}

.show::after {
  content: '';
  display: block;
  clear: both;
}

.block {
  line-height: 84px;
  font-size: 18px;
  vertical-align: middle;
  border-bottom: solid 2px $gray;
}

.block__title {
  color: $gray-dark;
  min-width: 216px;
  display: inline-block;
}

.block__info {
  color: $gray;
  display: inline-block;
}

.block__img {
}

/**
 Show Thumbnail
 */
.show-thumbnail {
  position: relative;
  left: -18px;
  width: 160px;
  float: left;
  margin: 0 18px 18px 18px;
}

.show-thumbnail__image {
  margin: 0 0 6px 0;
  height: 240px;
  width: 160px;
  background: url("/img/default-show-image.png");
  background-position: center center;
  background-size: cover;
  filter: grayscale(100%);
  background: $gray;
}

.show-thumbnail__rating {
  margin: 0 0 6px 0;
}

.show-thumbnail__description {
  font-size: 12px;
  line-height: 18px;
  min-height: 54px;
  overflow: hidden;
}

@media (max-width: 1176px) {
  .app-container {
    width: auto;
  }
}

@media (max-width: 804px) {
  .app-description {
    width: auto;
  }
}
